@import "tailwindcss";

/* Brand */
@import './brand/fonts.css';
@import './brand/theme.css';
@import './brand/base.css';
@import './brand/utilities.css';

/* Sections */
@import './sections/header.css';
@import './sections/footer.css';

/* Blocks */
@import './blocks/content-cards.css';

@source "../views/";
@source "../../app/";
