@import "tailwindcss";

/* Brand */
@import './brand/fonts.css';
@import './brand/theme.css';
@import './brand/base.css';
@import './brand/utilities.css';

/* Sections */
@import './sections/header.css';
@import './sections/footer.css';

/* Blocks */
@import './blocks/content-cards.css';
@import './blocks/testimonials.css';
@import './blocks/gallery-slider.css';
@import './blocks/contact.css';
@import './blocks/form.css';

@source "../views/";
@source "../../app/";
