@import "tailwindcss";

.wp-block.wp-block-post-title {
  padding: 0 1rem;
}

.wp-block,
.block-editor-block-list__layout .wp-block {
  margin-bottom: 2rem;
}

.block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 60rem !important;
}
